@using ApiGenerator
@using ApiGenerator.Domain.Code.HighLevel.Methods;
@inherits CodeTemplatePage<MethodSyntaxBase>
/// <summary>
/// @Raw(Model.XmlDocSummary)
/// @Raw("<para></para>")
/// <a href="@Model.DocumentationLink">@Model.DocumentationLink</a>
/// </summary>
@if (Model.Deprecated is {} deprecation)
{
@Raw($"[Obsolete(\"{deprecation}\")]")
}
